.contact-body {
  background-size: cover;
}

.contact-main {
  display: flex;
  flex-direction: column;
}

.contact-top {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #291239e1;
  padding: 31px;
  border-radius: 18px 134px;
  border: 1px solid #3a0c40;
}
.contact-container {
  width: 100%;
  display: flex;
  max-width: 1920px;
}
.contact-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.contact-h2 {
  padding: 10px;
  font-size: 40px;
  font-weight: 600;
  margin-top: 1%;
  color: rgb(233, 231, 231);
}
.pre-about {
  font-size: 19px;
  font-weight: 550;
  color: rgb(236, 232, 232);
  margin: 20px;
}
.contact-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(247, 243, 243, 0.911);
}
.contact-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.contact-bottom-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-email {
  color: rgb(249, 243, 243);
  font-size: 18px;
  margin-left: 16%;
}

.contact-include-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact-group-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-label {
  font-size: 15px;
  font-weight: bold;
  color: rgb(150, 144, 144);
}
.contact-input {
  background-color: #fff;
  border-radius: 9px;
  padding: 10px;
  height: 55px;
  cursor: pointer;
  border: 1px solid rgb(159, 155, 155);
}
.contact-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 78px;
  border-radius: 9px;
  cursor: pointer;
  border: 1px solid rgb(159, 155, 155);
}
.contact-button {
  background-color: rgba(179, 224, 204, 1);
  color: #1c022ed8;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  width: 40%;
  border-radius: 9px;
  margin: 9px;
}

.contact-button:hover {
  background-color: #4b185e;
  color: rgb(235, 232, 232);
}

.contact-input:hover,
.contact-textarea:hover {
  background-color: #4b185e;
  box-shadow: 4px 6px 12px 0px rgb(228, 228, 234);
  color: white;
}

.contact-textarea:hover::placeholder,
.contact-input:hover::placeholder {
  color: white;
}

.contact-textarea::placeholder,
.contact-input::placeholder {
  color: rgb(20, 20, 20);
}
.contact-input:focus,
.contact-textarea:focus {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0;
}

@media screen and (max-width: 1380px) {
  .pre_about {
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) {
  .contact-h2 {
    font-size: 40px;
  }
  .pre_about {
    max-width: 300px;
    font-size: 18px;
  }
  .about {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 870px) {
  .main-container {
    height: auto;
  }

  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .pre_about {
    max-width: none;
  }
  .contact-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .contact-right {
    width: 90%;
  }
  .contact-include-form {
    width: 80%;
    margin-top: 16px;
  }
  .contact-h2 {
    font-size: 40px;
    margin-right: 20%;
  }

  .contact-left {
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .contact-top,
  .contact-bottom {
    padding: 24px 16px;
    border-radius: 30px 120px;
  }
  .pre_about,
  .about {
    font-size: 15px;
    margin-left: 10%;
  }
  .about {
    line-height: 1.3;
  }
  .contact-container {
    gap: 16px;
  }
  .contact-h2 {
    font-size: 30px;
  }
  .contact-include-form {
    width: 100%;
    margin-top: 16px;
  }
  .contact-left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contact-button {
    width: 49%;
  }
}

@media screen and (max-width: 430px) {
  .contact-group-form {
    flex-direction: column;
  }
  .contact-right {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }
}
