.toggle_input {
  display: none;
}

.display {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.toggle_label {
  display: block;
  width: 42px;
  height: 26px;
  border-radius: 999px;
  background: #f3f3f3;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 43%;
  height: 79%;
  border-radius: 99px;
  background: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s !important;
}
.toggle_svg {
  width: 95%;
  position: absolute;
  transition: 0.5s;
}
.sun {
  color: #ffd600;
  margin-top: 0%;
  opacity: 1;
}
.moon {
  margin-top: -150%;
  color: white;
  opacity: 0;
}

.toggle_input[type="checkbox"]:checked + .display .toggle_label {
  background: #1f1f21;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}
.toggle_input[type="checkbox"]:checked + .display .toggle_label .circle {
  left: 100%;
  transform: translate(-110%, -50%);
  background: #2c2c2f;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}
.toggle_input[type="checkbox"]:checked + .display .toggle_label .circle .sun {
  margin-top: 150%;
  opacity: 0;
}
.toggle_input[type="checkbox"]:checked + .display .toggle_label .circle .moon {
  margin-top: 0;
  opacity: 1;
}
.toggle_label:active .circle {
  width: 50%;
}
