.slider_wrapper {
  margin-top: 5.1em;
}

.slider_wrapper_div {
  margin-top: 40px;
}
.splide__slide {
  cursor: pointer;
}
.splide__slide:hover {
  opacity: 0.97;
}
.splide__slide_div {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}
.splide__slide_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
}
.splide__track {
  height: 472px;
}
.box .front,
.box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.4s;
}
.box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(800px) rotateX(-180deg);
}

.box .back p {
  margin: 10px 20px;
  text-align: center;
}
.front img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
}
.box:hover .front {
  transform: perspective(800px) rotateX(180deg);
}
.box:hover .back {
  border-radius: 20px 20px 20px 20px;
  transform: perspective(800px) rotateX(0);
}
.box img {
  width: 100%;
  object-fit: cover;
}
