/* General Styles */

/* .termsbody {
  background: rgb(58, 60, 66);
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.heading {
  background-color: rgba(6, 6, 6, 0.813);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  position: fixed;
  bottom: 5%;
  right: 5%;
  max-width: 300px;
  background-color: rgba(103, 110, 169, 0.395);
  padding: 20px;
  box-shadow: 0 0 10px rgba(117, 1, 1, 0.1);
  z-index: 999;
}

.board.transparent {
  background-color: rgba(255, 255, 255, 0.8);
}
