<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paiement</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/payment_page.css" />
  </head> -->
<div class="payment-body">
  <!-- Payment Form -->

  <div class="payment-container" id="payment2">
    <form id="Payment" class="payment">
      <div class="close-icon" onclick="closePopup()">
        <i class="material-icons">fermer</i>
      </div>
      <input
        type="text"
        id="cardNumber"
        name="cardNumber"
        placeholder="Card Number"
      />
      <input type="text" id="date" name="date" placeholder="Date (mm/yy)" />
      <input type="text" id="cvv" name="cvv" placeholder="CVV" />
      <input type="text" id="name" name="Name" placeholder="Name On Card" />
      <span class="p_error" id="payment_error"></span>
      <button
        type="button"
        class="payment-button"
        onclick="validateAndSubmit()"
      >
        SOUMETTRE
      </button>
    </form>
  </div>

  <div id="popup" class="hidden">Le paiement est effectué.</div>
</div>
<!-- <script src="../scripts/payment_page.js"></script>
    </body>
  </html> -->
<!-- </html> -->
